{% extends 'includes/header.html.twig' %}

{% block title %} Login {% endblock %}
{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/auth.css') }}">
{% endblock %}
{% block body %}
    {% set login = (type == 'login') %}
    <div id="container">
        <h1>{{ login ? 'Login':'Register' }}</h1>
        <div id="form_container">
            {% set login_error = app.flashes('login_error') %}
            {% if login_error is not empty %}
                <p class="alert_container">{{ login_error[0] }}</p>
            {% endif %}
            <form action="{{ path(type == 'login' ? 'login':'register_post') }}" method="post">
                {% if login %}

                    <!-- Login user email -->
                    <label for="user_email">Email</label>
                    <input class="text_input" id="user_email"
                           name="_username" type="email"
                           placeholder="johndoe@gmail.com" required autofocus/>

                    <!-- Login user password -->
                    <label for="user_password">Password</label>
                    <input class="text_input" id="user_password"
                           name="_password" type="password" value=""
                           placeholder="••••••••••"
                           required/>
                    <a href="#">Forget password</a>
                    <input id="form_submit" type="submit" value="Confirm"/>
                {% else %}
                    <!-- Register username -->
                    <label for="user_username">Username
                        {% set username_error = app.flashes('username') %}
                        <small class="input_error">{{ username_error is not empty ? username_error[0]:null }}</small>
                    </label>
                    <input class="text_input" id="user_username"
                           name="username" type="text" value="" placeholder="John"
                           autofocus/>

                    <!-- Register email user -->
                    <label for="user_email">Email
                        {% set email_error = app.flashes('email') %}
                        <small class="input_error">{{ email_error is not empty ? email_error[0]:null }}</small>
                    </label>
                    <input class="text_input" id="user_email" name="email"
                           type="email" value=""
                           placeholder="johndoe@gmail.com" required autofocus/>

                    <!-- Register user password -->
                    <label for="user_password">Password
                        {% set password_error = app.flashes('password') %}
                        <small class="input_error">{{ password_error is not empty ? password_error[0]:null }}</small>
                    </label>
                    <input class="text_input" id="user_password"
                           name="password" type="password" value=""
                           placeholder="••••••••••"
                           pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" required/>

                    <!-- Register user confirm password -->
                    <label for="user_confirm_password">
                        {% set confirm_password_error = app.flashes('confirm_password') %}
                        <small class="input_error">{{ confirm_password_error is not empty ? confirm_password_error[0]:null }}</small>
                    </label>
                    <input class="text_input"
                           id="user_confirm_password" name="confirm_password" type="password" value=""
                           placeholder="••••••••••" required/>
                    <input id="form_submit" type="submit" value="Register"/>
                {% endif %}
            </form>
        </div>

        {% if login %}
            <a href="/register">Create an account</a>
        {% else %}
            <a href="/login">Already have an account</a>
        {% endif %}
    </div>
{% endblock %}